__pycache__/basefilter.cpython-38.pyc
__pycache__/confmat.cpython-38.pyc
__pycache__/constants.cpython-38.pyc
__pycache__/corpus.cpython-38.pyc
__pycache__/quality.cpython-38.pyc
__pycache__/simplefilters.cpython-38.pyc
__pycache__/test_confmat.cpython-38.pyc
__pycache__/test_corpus.cpython-38.pyc
__pycache__/test_filterbase.cpython-38.pyc
__pycache__/test_quality_for_corpus.cpython-38.pyc
__pycache__/test_quality_score.cpython-38.pyc
__pycache__/test_readClassificationFromFile.cpython-38.pyc
__pycache__/test_simplefilters.cpython-38.pyc
__pycache__/test_writeClassificationToFile.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.README.md.swp
__pycache__/test_trainingcorpus.cpython-38.pyc
__pycache__/trainingcorpus.cpython-38.pyc
